# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log File
log.txt
test_output.txt
.vscode/
gen_data.txt
resources/data*
*_result.txt
*_output.txt
slice*
resources/2861665.txt
*_test.txt
mim.txt
reduce_mim.txt
s_mt_output_io.txt